# SPDX-FileCopyrightText: ©2023 Inditex
#
# SPDX-License-Identifier: Apache-2.0

# Defines the coding style for different editors and IDEs.
# http://editorconfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
